h1 {
  font-size: 6em;
  position: absolute;
  left: 25%;
  top: 50%;
  color: white;
}
.hero-image {
  width: 100%;
}
h2 {
  font-size: 1.5em;
}

article {
  width: 70%;
  text-align: center;
}
.centralize {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 90%;
  margin: 2% 5%;
}

.section-border {
  border-top: 3px solid;
  border-bottom: 3px solid;
}
